@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-bg-image-cover {
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}