$font-family-main: 'Filson Pro', sans-serif;
$font-family-secondary: 'Abhaya Libre', serif;
$font-family-third: 'Neogrotesk ESS', serif;

$color-primary: #75B3CB;
$color-primary-faded: #CAF0FF;
$color-primary-faded2: #EBF9FF;

$color-secondary: #EFA693;
$color-secondary-faded: #FFDCD3;
$color-secondary-faded2: #fff6f3;

$color-third: #8fd0b9;
$color-forth: #9594d2;
$color-fifth: #ffc658;
$color-sixth: #aac6c9 ;

$color-gray: #c4c4c4;
$color-gray2: #EBEBEB;

$color-error: #EB5757;
$color-hover: #F39780;
$color-focused: #008EFC;

$color-highlight: #ffffff;
$font-color-main: #444950;
$font-color-secondary: #939393;
$font-color-highlight: $color-highlight;

$background-color-main: #F5F5F5;
// $gradient1: linear-gradient($color-secondary, #e453d7);

$padding-body: 1.3333em;